@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 文字色を白に設定 */
  --foreground-rgb: 255, 255, 255;
  /* 背景色の開始を黒に設定 */
  --background-start-rgb: 0, 0, 0;
  /* 背景色の終了も黒に設定 */
  --background-end-rgb: 0, 0, 0;
}

body {
  /* 文字色を白に設定 */
  color: rgb(var(--foreground-rgb));
  /* 背景を黒に設定 */
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
